// out: portfolio.css, compress: false

@primary-cyan: rgb(88, 213, 213);

// Mixins

.no-margin-or-padding() {
  margin: 0px;
  padding: 0px;
}

.titling() {
  font-family: Montserrat, sans-serif;
  text-align: center;
}

// Elements and classes

html {
  font-size: 14px;
}

body {
  background-color: @primary-cyan;
  font-family: "Open Sans", sans-serif;
  &.inTransition {
    overflow: hidden;
  }
}

.kc-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: darken(@primary-cyan, 50%);
  &::before, &::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    height: 4px;
    background-color: darken(@primary-cyan, 30%);
    margin: 1rem;
  }
}

hr {
  display: block;
  border: 2px solid darken(@primary-cyan, 30%);
  &.kc-title-line {
    .no-margin-or-padding();
    width: 30%;
    border-left: 0px;
    border-right: 0px;
    display: inline-block;
  }
}

h1 {
  .titling();
  font-size: 3.5rem;
  font-weight: bold;
}

h2 {
  .titling();
  font-size: 2rem;
  font-weight: bold;
  margin: .5rem;
}

h3 {
  font-size: 1.5rem;
}

.noshow {
  display: none;
}

#title-section {
  height: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.kc-contact {
  display: flex;
  justify-content: center;
  margin: .3rem;
}

.kc-contactitem {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: darken(@primary-cyan, 15%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .3rem;
  transition: background-color 0.2s ease;
  color: #000;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    background-color: darken(@primary-cyan, 20%);
  }
}

.kc-mywork-master {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.kc-mywork-item {
  overflow: hidden;
  background-color: #4ab;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  position: relative;
  margin: 7px;
  cursor: pointer;
  .kc-layer {
    position: absolute;
    top: 0;
    left: 0;
    &-overlay {
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      opacity: 0;
      z-index: 10;
      height: 100%;
      width: 100%;
      border-radius: 16px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      > * {
        padding: 0 10px;
      }
    }
    &-preview {
      z-index: 5;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      img {
        height: 100%;
      }
    }
  }
  &:hover {
    .kc-layer.kc-layer-overlay {
      transition: opacity 0.5s;
      opacity: 1;
    }
  }
}

#copyright-section {
  position: relative;
  margin: 1rem;
  height: 3rem;
  p {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.project-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 1000px;
  transition: top 1s ease;
  p {
    margin: 1rem 0;
  }
  &.up {
    top: 0;
  }
  .vispart {
    background-color: rgba(255, 255, 255, .5);
    z-index: 15;
    position: absolute;
    top: 7%;
    bottom: 7%;
    left: 7%;
    right: 7%;
  }
  .projdesc {
    padding: 20px;
    > h1.kc-banner:first-child {
      margin: 30px 0;
    }
  }
  .projimgs {
    max-width: 400px;
    margin: 30px auto;
    > img {
      width: 100%;
    }
  }
  .exitbutton {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    right: 0;
  }
}